@import url('https://fonts.googleapis.com/css2?family=Anton&family=Brawler&family=Chela+One&family=Creepster&family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Noto+Emoji:wght@300;400;500;600;700&family=Noto+Sans+Old+Persian&family=Noto+Sans+Symbols+2&family=Righteous&family=Sriracha&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* simple 

font-family: 'Anton', sans-serif;
font-family: 'Brawler', serif;
font-family: 'Chela One', cursive;
font-family: 'Creepster', cursive;
font-family: 'Gluten', cursive;
font-family: 'Noto Emoji', sans-serif;
font-family: 'Noto Sans Old Persian', sans-serif;
font-family: 'Noto Sans Symbols 2', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sriracha', cursive;
font-family: 'Vazirmatn', sans-serif;

///*/

@font-face {
	font-family: irsansl;
	font-style: normal;
	font-weight:150%;
	src:url('../fonts/IranSansL.eot');
	src:url('../fonts/IranSansL.eot?#iefix') format('embedded-opentype'),
	url('../fonts/IranSansL.woff2') format('woff2'),
	url('../fonts/IranSansL.woff') format('woff'),
	url('../fonts/IranSansL.ttf') format('truetype');
}
@font-face {
	font-family: irsansb;
	src:url('../fonts/IranSans.B.eot');
	src:url('../fonts/IranSans.B.eot?#iefix') format('embedded-opentype'),
	url('../fonts/IranSans.B.woff2') format('woff2'),
	url('../fonts/IranSans.B.woff') format('woff'),
	url('../fonts/IranSans.B.ttf') format('truetype');
}
@font-face {
	font-family: irsans;
	font-style: normal;
	font-weight:;
	src:url('../fonts/IranSans.eot');
	src:url('../fonts/IranSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/IranSans.woff2') format('woff2'),
	url('../fonts/IranSans.woff') format('woff'),
	url('../fonts/IranSans.ttf') format('truetype');
}
@font-face {
	font-family: yekan;
	font-style: normal;
	font-weight:;
	src:url('../fonts/yekan.eot');
	src:url('../fonts/yekan.eot?#iefix') format('embedded-opentype'),
	url('../fonts/yekan.woff2') format('woff2'),
	url('../fonts/yekan.woff') format('woff'),
	url('../fonts/yekan.ttf') format('truetype');
}
@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight:;
	src:url('../fonts/Vazir.eot');
	src:url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Vazir.woff2') format('woff2'),
	url('../fonts/Vazir.woff') format('woff'),
	url('../fonts/Vazir.ttf') format('truetype');
}
@font-face {
	font-family: robotb;
	src:url('../fonts/robotb.eot');
	src:url('../fonts/robotb.eot?#iefix') format('embedded-opentype'),
	url('../fonts/robotb.woff') format('woff'),
	url('../fonts/robotb.ttf') format('truetype');
}


@font-face {
	font-family: sahelb;
	src:url('../fonts/sahelb.eot');
	src:url('../fonts/sahelb.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sahelb.woff') format('woff'),
	url('../fonts/sahelb.ttf') format('truetype');
}

@font-face {
	font-family: parastoob;
	src:url('../fonts/parastoob.eot');
	src:url('../fonts/parastoob.eot?#iefix') format('embedded-opentype'),
	url('../fonts/parastoob.woff') format('woff'),
	url('../fonts/parastoob.ttf') format('truetype');
}

/***  @@@@--> F  O  N  T  S  <--@@@@  ***/

* {
         box-sizing: border-box;
      }
            menu {
            position:absolute;
            top:110px;
            width:100%;
            height:20%;
            background-color:red;
            border:1px solid blue
            text-shadow:;
            }
            
      html, body {
         margin: 0;
         padding: 0;
      }
      .nav-bar {
         
         margin-top:;
         margin-right:1%;
         border-style:;
         border-left:4px groove #5B5B5B;
         border-top:6px groove #5B5B5B;
         border-right:4px groove #5B5B5B;
         border-radius:5px;
         background: lightgrey; /* same color as the li */
         width: 20%;
         height: 90%; /* takes the full width */
         position:absolute;
         top: 130px; /* sticks the side nav to the top */
         right: px; /* sticks the side nav to the left side */
         overflow-y: auto; /* adds a vertical scrolling functionality when needed */
      }
      .nav-bar a {
         
         text-decoration:none;
         color: black;
         display: block;
      }
      .nav-bar > ul {
         height:30px;
         list-style-type:lower-roman;
         margin: 0;
         padding: 0;
      }
      .nav-bar > ul > li > a {
         padding: 10px;
         
      }
      .nav-bar > ul > li > a:hover {
         
         background: red;
         color: #f8f9f9;
      }
      .nav-bar .active {
         border:2px solid blue;
         background: #173459;
         color: #f8f9f9;
      }
 .mci {
   text-decoration:none;
   background-image:url("../media/mci.jpg");
   background-repeat:repeat;
   }
.mtn {
  background-image:url("../media/mtn.jpg");
  background-repeat:repeat;
  }

      .nav-bar li {
         border: 1px solid #333;
      }
  
  
      .content {
         margin-right: 30%;
         width: 70%;
         padding: 15px;
      }
/*** ############################ ***/
.body {
  font-family:vazir;
  font-size:13px;
  background-color:#f2ffe6;
  }

.header {
   
border-top:40px solid darkgreen;
border-right:1px solid darkblue;
border-left:1px solid darkblue;
border-bottom:40px solid darkred;
   top:0;
   width:380px;
   margin-top:1%;
   margin-left:1%;
   margin-right:2%;
   height:120px;
   border-radius:10px;
   background-color:white;
  }
.form0 {
  width:380px;
  height:82px;
  border:1px solid black;
  margin-right:2%;
  margin-left:1%;
  margin-top:2px;
  border-radius:5px;
  background-color:black;
 }
.form1 {
   
   border:8px groove brown;
   margin-top:10px;
   margin-right:2%;
   margin-left:1%;
   border-radius:5px;
   text-align:center;
   font-family:irsansb;
   width:380px;
  }
.form3 {
   position:relative;
   border:6px double darkblue;
   margin-top:1px;
   margin-right:2%;
   margin-left:1%;
   border-radius:5px;
   width:380px;

   background-color:black;
  }
.form2 {
   position:relative;
   border:6px double darkgreen;
   margin-top:1px;
   margin-right:2%;
   margin-left:1%;
   border-radius:5px;
   width:380px;
  }
.ff {
    font-family:yekan;
    font-size:15px;
    
    font-weight:bolder;
    }
legend {
     background-color:#133913;
     text-align:right;
     color:yellow;
     transform-style:flat;
     border-bottom:2px solid black;
     font-family:Chela One;
     }
  .iran {
   font-family:yekan;
   font-size:25px;
    }
  .img0 {
   border:2px solid black;
   margin-left:1%;
   margin-top:1%;
   width:35%;
    }
  .sp {
   
   width:55%;
   height:auto;
   float:;
    }

.tbl {
 border-collapse:separate;
 font-family:irsans;
 font-weight:bolder;
 font-size:13px;
margin-top:5px;
position:relative;
 }
 .thead {
 background-color:black;
 color:yellow;
 }
 .div {
 background-color:#FFDC55;
 color:yellow;
 border-top:1px solid black;
 }
 .div2 {
 border-bottom:2px solid black;
 }
 .tbody {
  background-color:#ccccff;
 }
 .tth {
 text-align:center;

 font-weight:bolder;

 }
 .ttdr {
 
 }
 .ttr {
border:2px solid black;
font-size:15px;
font-family:sahelb;
 }
 .tbl, .tth, .ttd {
 
 text-align: center;
 }
 .form2 > .th, td {
 text-align:center;
 padding: 5px;
 }

.taq {
font-family:sahelb;
font-size:13px;
color:darkblue;
text-align:center;
background-color:#009933;
border-bottom:1px solid black;
}

.taa {
font-family:irsansb;
font-size:12px;
color:darkred;
text-align:right;
background-color:#ccffcc;
border-bottom:1px solid black;
width:110px;
border-left:2px solid black;
}



 td  {
 
 }
 .tth {
 text-align:center;
 }
 
 .texa {
 width:80%;
 height:500px;
 font-family:Courier new;
 text-align:left;
 font-size:10px;
 font-weight:bold;
 color:red;
 }
 
 footer {
 bottom:0;
 position:absolute;
 }
 
 .menu {
 background-color:silver;
 height:30px;
 }
 
 .dd {
 position:relative;
 display: inline-block;
 }
 .dd-content {
 position:absolute;
 display: none;
 border:1px solid blue;
 font-family:vazir;
 background-color:#333333;
 color:yellow;
 font-size:14px;
 width:150px;
height:auto;
 }
 .dd:hover > .dd-content {
 display: block;
 }
 ////////\\
 .button {
 display: inline-block;
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: 14px/100% Arial, Helvetica, sans-serif;
 padding: .5em 2em .55em;
 text-shadow: 0 1px 1px rgba(0,0,0,.3);
 -webkit-border-radius: .5em; 
 -moz-border-radius: .5em;
 border-radius: .5em;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 box-shadow: 0 1px 2px rgba(0,0,0,.2);
 }
 .button:hover {
 text-decoration: none;
 }
 .button:active {
 position: relative;
 top: 1px;
 }
 .orange {
 color: #fef4e9;
 border: solid 1px #da7c0c;
 background: #f78d1d;
 background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
 background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
 }
 .orange:hover {
 background: #f47c20;
 background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
 background: -moz-linear-gradient(top,  #f88e11,  #f06015);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
 }
 .orange:active {
 color: #fcd3a5;
 background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
 background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
 }